@using KS.Web.Startup
@using KS.Web.Views.Shared.Components.QuestionAnswerRatingSubmit
@using KS.Web.Views.Shared.Components.QuestionRatingSubmit
@using Microsoft.EntityFrameworkCore
@model KS.Questions.Dto.QuestionDto

@{
    ViewBag.Title = "Question";
    Layout = "_Layout";

    ViewBag.CurrentPageName = PageNames.Home; // The menu item will be active for this page.
}


<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            
            @try
            {
                <div class="header">
                    <h2>
                        <span class="text-capitalize">@Model.Name </span>
                        <a class="btn btn-default text-uppercase pull-right btn-outline" href="/">Back to home </a>
                    </h2>
                </div>
                <div class="body">

                    <h4><small>Asked by <span class="text-uppercase">@Model.CreatorUser.FullName</span> on @Model.CreationTime.ToLongDateString() at @Model.CreationTime.ToLongTimeString()</small></h4>

                    <p>
                        @Model.Description
                        <br />
                        <br />
                        @await Component.InvokeAsync(typeof(QuestionRatingSubmitViewComponent), Model.Id)
                    </p>

                    <br/>

                    @if (Model.QuestionAnswers != null && Model.QuestionAnswers.Any())
                    {
                        <h4>Most Recent Answers</h4>
                        foreach (var answer in Model.QuestionAnswers.OrderByDescending(x => x.CreationTime))
                        {
                            <div class="panel">
                                <div class="panel-body">
                                    @answer.AnswerText
                                    <br />
                                    <small class="pull-right"> Submited by @answer.CreatorUser.FullName on @answer.CreationTime.ToLongDateString() at @answer.CreationTime.ToLongTimeString()</small>
                                    <br/>
                                    @*<button type="button" class="btn btn-sm btn-info">Like</button>
                                    <button type="button" class="btn btn-sm btn-danger">Unlike</button>*@
                                    @*<button type="button" class="btn btn-sm btn-default">Add your comment</button>*@

                                    @await Component.InvokeAsync(typeof(QuestionAnswerRatingSubmitViewComponent), answer.Id)
                                </div>
                            </div>
                        }
                    }

                    <br/>

                    @Html.Partial("SubmitAnswerFormPartial", Model.QuestionAnswerInput)

                </div>
            } catch(Exception e)
            {
                <h4 class="text-danger text-center">
                    No question found 
                    <br/>
                    <br/>
                    <a class="btn btn-default btn-lg" href="/">BACK TO HOME</a>
                </h4>
            }

        </div>
    </div>
</div>