@using KS.Web.Models.Question
@using KS.Web.Startup
@using KS.Web.Views.Shared.Components.QuestionRatingSubmit
@model QuestionViewModel
@{
    ViewBag.CurrentPageName = PageNames.Questions; // The menu item will be active for this page.
}
@section scripts{
    <script src="~/view-resources/Views/Question/Question.js"></script>
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <span class="text-capitalize">@Model.CurrentUser.FullName </span> Questions
                </h2>
            </div>
            <div class="body">

                @if (Model.PagedResultDto.TotalCount > 0)
                {
                    foreach (var item in Model.PagedResultDto.Items)
                    {
                        <div class="panel panel-body">
                            <h4><span data-question-title="@item.Name">@item.Name</span> <small>Posted on @item.CreationTime.ToLongDateString() at @item.CreationTime.ToLongTimeString()</small></h4>

                            <p>
                                @item.ShortDiscription
                            </p>

                            <p>
                                <a class="btn btn-info waves-effect waves-float edit-question" href="#" data-question-id="@item.Id" data-toggle="modal" data-target="#QuestionEditModal">Edit</a>

                                @if (item.IsEnableViewQuestionButton)
                                {
                                    <a class="btn btn-default waves-effect waves-float" href="@Url.Action("Answer","Question",new {questionId = item.Id})">View question</a>
                                }

                                <a class="btn btn-default waves-effect waves-float" href="@Url.Action("Answer","Question",new {questionId = item.Id})">View answers</a>

                                <a href="#" class="btn btn-default waves-effect waves-float archive-question" data-question-id="@item.Id">Archive</a>

                                @await Component.InvokeAsync(typeof(QuestionRatingSubmitViewComponent), item.Id)
                            </p>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="QuestionEditModal" tabindex="-1" role="dialog" aria-labelledby="QuestionEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>